@font-face {
  font-family: "iconfont"; /* Project id 3609185 */
  src: url('//at.alicdn.com/t/c/font_3609185_m4e7kixzhjn.woff2?t=1661351080405') format('woff2'),
       url('//at.alicdn.com/t/c/font_3609185_m4e7kixzhjn.woff?t=1661351080405') format('woff'),
       url('//at.alicdn.com/t/c/font_3609185_m4e7kixzhjn.ttf?t=1661351080405') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e638";
  color: rgb(200,0,0);
}

.icon-github:before {
  content: "\e63a";
}