@font-face {
  font-family: "iconfont"; /* Project id 3609185 */
  src: url('iconfont.woff2?t=1661350518740') format('woff2'),
       url('iconfont.woff?t=1661350518740') format('woff'),
       url('iconfont.ttf?t=1661350518740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn:before {
  content: "\e638";
}

.icon-github:before {
  content: "\e63a";
}

